---
layout: default
---

{% comment %}

	Landscape by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Katrina VA

	Description:

		Katrina is a professional voice actor and this is her site.

{% endcomment %}

<!-- Header -->
	<header id="header">
		<nav id="nav">
			<ul>
		
			{% for slide in site.reel %}
					
					<li><a href="#{{ slide.html_id }}">
						{{ slide.title }}<span class="extra">{{ slide.title_extra }}</span>
					</a></li>
					
			{% endfor %}			

<ul class="icons">
	<li><a href="https://www.facebook.com/Katrina-VA-101191828266056"" class="icon brands fa-facebook-f"><span class="label">Facebook/</span></a></li>
	<li><a href="https://twitter.com/KatrinaVA2" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="https://www.castingcall.club/m/Kittkat26" class="icon brands fa-youtube"><span class="label">Casting Call Club</span></a></li>
	<li><a href="https://www.instagram.com/katrinava2612/" class="icon brands fa-instagram"><span class="label">Instagram/</span></a></li>
	<li><a href="https://www.youtube.com/channel/UCkYe4NCo4sQKzKbCCfgKSfA" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>				
</ul>
			
			</ul>
		</nav>
	</header>
	
	
	<!-- Main -->
	<div id="main">

		<!-- Reel -->
			<section class="reel">
			
				{% for slide in site.reel %}

					<article id="{{ slide.html_id }}" class="slide {{ slide.class }}">
						<img src="{{ site.baseurl }}{{ slide.image }}" alt="" data-position="{{ slide.position }}" />
						<div class="inner">
							{{ slide.output }}
						</div>
					</article>

				{% endfor %}		
			</section>

	</div>